@import "node_modules/normalize.scss/normalize";
@import "node_modules/bootstrap/scss/bootstrap";

$color-primary: #2ac3f2;
$color-primary-compliment: #fff;
$color-secondary: #6B6868;
$color-secondary-compliment: #fff;

$brand-primary: $color-primary !default;
$btn-primary-color: $color-secondary-compliment !default;
$btn-primary-bg: $color-secondary !default;
$alert-border-radius: 0 !default;

// SELECT 2
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "node_modules/select2/src/scss/core";
