@import "./variables.scss";
@import "./global.scss";
@import "./app-import.scss";

html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}